# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Reports generated during execution
Reports/Html/
Reports/Allure/
allure-results/
allure-report/

# Logs
Reports/Logs/
*.log